@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
/*page loader*/
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('/news-portal/asset/img/Preloader_2.gif') center no-repeat #fff;
}

/*header*/
.logout{
	color: white;
}
.logo-text{
	font-size: 20pt;
	color: white;
	margin-top:-10px;
	font-weight: 600;
}
.header{
    width:100%;
    height:50px;
    position:fixed;
    top:0px;
    z-index:10;
}

.header #background, .header #labels
{
    position:absolute;
    top:0px;
    width:100%;
    height:100%;
}

.header #labels{
  padding-top: 15px;
}

.header #background{
    background-color:#3498db;
    /*display:none;*/
}

/*Menu*/
.open{
	margin-left: 0;
}
.closed{
	margin-left: -17%;
}
.sidebar{
	width: 16.66666667%;
	height:100%;
	background: rgba(20,20,40,0.8);
	position: fixed;
	transition: margin-left 1s ease;
}
.side-menu{
	color:white;
	list-style-type: none;
	/*border: 1px solid white;*/
	padding:5px;
}
.side-menu li{
	/*border: 1px solid grey;*/
	padding:5px;
	cursor: pointer;
	font-size: 12pt;
	font-weight: 500;
	/*border-bottom: 2px solid white;*/
}
.side-menu li:after{
	content: '';
	margin-top: 2px;
	display: block;
	height: 2px;
	width: 0;
	background: linear-gradient(to right, #fff , #3498db);
	transition: width 0.7s ease;
}
.side-menu li:hover::after{
	width: 100%;
}
.side-icon{
	padding-right: 10px;
	font-size: 12pt;	
}
.side-menu>.active:after{
	content: '';
	margin-top: 2px;
	display: block;
	height: 2px;
	width: 100%;
	background: linear-gradient(to right, #fff , #3498db);
	transition: width 0.7s ease;
}
.side-menu #submenu{
	list-style-type: none;
}

/*content*/
.content-cms{
	/*height: 500px;*/
	width: 83.3%;
	/*border: 1px solid black;*/
	margin-left: 16.7%;
	margin-top:50px;
	transition: width 1.2s ease,margin-left 1.2s ease;
	padding:5px;
}
.panel-title{
	color: white;
	font-family:'Lobster',serif;
	/*font-weight: 700;*/
	font-size: 15pt;
}

/*rating*/
.rating {
    overflow: hidden;
    display: inline-block;
    font-size: 0;
    line-height: 100%;
    vertical-align: middle;
}
.rating-input {
    float: right;
    width: 0;
    opacity: 0;
}
.rating:hover .rating-star:hover,
.rating:hover .rating-star:hover ~ .rating-star,
.rating-input:checked ~ .rating-star {
    background-position: 0 0;
}
.rating-star,
.rating:hover .rating-star {
    float: right;
    display: block;
    width: 16px;
    height: 16px;
   background: url('../../asset/img/star.png') 0 -16px;
}

