@font-face{
    font-family: "Myriad-Pro";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/MyriadPro-Regular.woff) format("woff");
}
@font-face{
    font-family: "Myriad-Pro";
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/MyriadPro-Bold.woff) format("woff");
}
@font-face{
    font-family: "Myriad-Pro";
    font-style: italic;
    font-weight: 400;
    src: url(../fonts/MyriadPro-It.woff) format("woff");
}
body {
    background-color: #fff;
    font-family: 'Myriad-Pro',sans-serif;
}
/*header*/
.header{
    width:100%;
    // height:75px;
    position:fixed;
    top:0;
    z-index:10;
    box-shadow: 0 4px 2px -2px gray;
    transition: top .5s ease;
}

.mini-holder {
    height: 25px;
    background:white;
    padding-left: 50px;
    padding-right: 50px;
    z-index: 2;
}

.boxing {
    border: 1px solid red;
}

.main-holder {
    height: 65px;
    transition : height .5s ease;
}

.mini-holder {
    background: #fbe6e6;
}

.mini-holder > .item {
    float: right;
    color : #c62b33;
    position: relative;
    /*top:50%;*/
    /*transform : translateY(-50%);*/
    font-weight: 600;
}

.valign {
    top:50%;
    transform : translateY(-50%);
}

.valign-c {
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.mini-holder > .item > a {
    color : #c62b33;
    font-size: 11pt;
}

.main-holder > div {
    /*height: 100%;*/
    text-align: center;
    background-color: #c62b33;
    z-index: 2;
}

.logo-holder > img {
    max-height: 100%;
}

.search > input {
    background-color: #fbe6e6;
    font-style: italic;
}

.search > .input-group-addon {
    background : #fcc74e;
    color : white;
}

.category-holder > div {
    position: relative;
    font-size: 13pt;
    /*text-transform: uppercase;*/
    color: #fff;
    font-weight: 600;
    letter-spacing: 2px;
    cursor: pointer;

}

.main-holder > #category-holder:hover ~ #category-content,#category-content:hover { 
    top:85px;
}

.main-holder > #category-holder:hover ~ #category-content.mini,#category-content.mini:hover { 
    top:65px;
}

#category-content {
    background: #edfaff;
    position: absolute;
    z-index: 1;
    box-shadow: 0 4px 2px -2px gray;
    transition : top .5s ease;
    top:-153px;
    text-align: left;
    padding:20px;margin-left: 0;
}

.category-img {
    width: 100px;
}

ul.category-item {
    padding-left: 0;
    list-style: none;
    color:#595959;

}

.category-item > .title {
    font-style: italic;
    font-size: 13pt;
    font-weight: 700;
    margin-left: -20px;
    color:#6bb5b8;
}

.menu-holder {
    text-align: left !important;
}

.menu-holder > div {
    position: relative;
    color:#fff;
    font-weight: 600;
    font-size: 12pt;
}

.btnModal {
    cursor: pointer;
}

.modal-dialog {
    opacity: .9;
    /*border: 1px solid #fcc74e;*/
}

.modal-content {
    border-color: #fcc74e;
    border-width: 2px;
}

.modal-close {
    padding: 5px;
    background: #595959;
    width: 34px;
    display: block;
    text-align: center;
    border-radius: 50%;
    color: white;
    border: 1px solid #edfaff;
    position: absolute;
    right: -15px;
    top: -15px;
    cursor:pointer;
}

.label {
    color:#c62b33;
}

.bold {
    font-weight: 600;
}

.input-group-addon > i {
    width: 18px;
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #D62929;
}

/* CONTENT */
.container {
    margin-top:100px;
    padding-bottom:50px;
    min-height: 401px;
}
.container-fluid.admin {
    margin-top:70px !important;
    padding-bottom:50px;
    /*margin-left:200px;*/
}
.promo-holder,.new-holder,.disc-holder {
    border: 5px solid white;
    text-align: center;
}
.promo-holder > p,.new-holder > p,.disc-holder > p {
    font-size: 25pt;
    position:relative;
    font-weight: 700;
}
.promo-holder {
    height: 400px;
    background: #c62b33;
    color:#fbe6e6;
    padding:0;
    box-shadow: 3px 5px 10px #888888;
    /*border: 1px solid black;*/
}

.promo-holder img {
    width:568px;
    height: 398px;
    object-fit: fill;
}
.new-holder, .disc-holder {
    height: 200px;
    color:#c62b33;
}
.new-holder,.disc-holder {
    background: #fcc74e;
    padding:0px;
}
.section {
    margin-top : 15px;
}
.title-line {
    width: 100%;
}
.title-line:after {
    content: '';
    width: 100%;
    background-color: #c62b33;
    margin-top:5px;
    height: 2px;
    display: block;
}
.title-line.grey:after {
    background-color: grey;
}
.t-center {
    text-align:center;
}
.t-right {
    text-align:right !important;
}
.offers {
    background-color: #ededed;
}
.product {
    border:2px solid transparent;
    text-align: center;
    transition: border-color .7s ease;
    // margin: 5px;
    background-clip: padding-box;
    background-color: #fff;
    position: relative;
    padding-left: 0;
    padding-right: 0;
    box-shadow: 3px 5px 10px #888888;
}
.product.loved:before {
    content: '\f004';
    font-family: 'FontAwesome';
    color:hotpink;
    display: block;
    position: absolute;
    right: 10px;
    top:5px;
}
.product:hover {
    border-color:#c62b33;
}
.product .caption {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 5px;
    background: rgba(120,120,120,.8);
    opacity: 0;
    transition: opacity .6s ease;
    color:white;
}
.product:hover .caption {
    opacity: 1;
}
.caption > p {
    margin:0;
}
.product img {
    width:100%;
    /*height: 100%;*/
    object-fit: cover;
}
.footer {
    background:#304658;
    padding: 25px 10px 10px 10px;
    color:#ededed;
}
ul.footer-item {
    list-style-type: none;
    font-size: 10pt;
}
ul.footer-item > li > i {
    width: 20px;
}
.footer-title {
    width:100%;
    cursor: default;
}
.footer-title:after {
    content: '';
    height: 2px;
    width:0px;
    background: linear-gradient(to right, #1c92d2, #f2fcfe);
    display: block;
    margin-top:5px;
    transition: width .7s ease;
}
.footer-title:hover:after {
    width: 100%;
}
.copyright {
    font-size: 9pt;
    margin:0 auto;
}
.category-menu {
    border : 2px solid #fcc74e;
    border-radius: 3px;
    background: #c62b33;
    color:ghostwhite;
}
ul.category {
    padding-left: 0;
    list-style-type: none;
}
ul.category > li {
    font-size: 12pt;
    font-weight: 600;
    cursor:pointer;
}

.filter-holder {
    background:#c62b33;
    color: white;
    margin-left:-9px;
}

.red-color {
    color: #c62b33;
}

.bg-grey {
    background : #ededed;
    border-radius: 3px;
}

.title-holder {
    padding: 10px 0 10px 20px;
}

.rekening {
    padding:5px;
    border:1px solid #c62b33;
    border-radius: 5px;
}

.rekening p {
    color:black;
    font-size: 12pt;
    font-weight: 600;
}

p.text-addon {
    font-style: italic;
    font-size: 10pt;
}

.product > .info {
    text-align: left;
    padding-left: 20px;
    padding-bottom:20px;
    display: block;
}

.info > p {
    margin:0;
}

.harga {
    color:#c62b33;
    font-style: italic;
}

.harga.large {
    font-size: 20pt;
}

.discount {
    position: absolute;
    display: block;
    top:2px;
    right: 2px;
    background: #fcc74e;
    border-radius: 50%;
    text-align: center;
    color: white;
    padding: 7px;
}
.discount p {
    margin:0;
    font-size: 10pt;
}

.best:after {
    content: 'Best Seller';
    display: block;
    position: absolute;
    left: -10px;
    top: 15px;
    font-size: 10pt;
    background: #c62b33;
    padding: 3px;
    padding-left: 15px;
    color: white;
    font-weight: 600;
}

.small-img {
    list-style-type: none;
    padding-left: 0;
}

.small-img > li {
    margin-bottom:8px;
}

.holder-white-r {
    background: #fff;
    border-radius: 10px;
    border:1px solid #cec4c4;
}

.holder-white {
    background: #fff;
}

th {
    text-align: center;
}

tr.item:after {
    content: '\f057';
    font-family: 'FontAwesome';
    display: block;
    position: relative;
    color:black;
    top: 25px;
    font-size: 16pt;
}

.total:before {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background:red;
    margin-bottom:5px;
}

img.profil-thumb {
    width: 36px;
    border-radius: 50%;
}

.text-white {
    color:#fff;
}

.border-white {
    border-color: #fff !important;
}

.modal-content {
    top:120px;
}

aside.sidebar {
    min-width: 200px;
    box-shadow: 4px 4px 2px -2px gray;
    min-height: -webkit-fill-available;
    position: fixed;
    z-index: 2;
}
ul.sidebar-menu {
    padding:0;
    list-style-type: none;
    font-weight: 700;
    color:#c62b33;
    /*padding:0 10px;*/
}
ul.sidebar-menu > li {
    padding:5px 10px 5px 25px;
    transition: all .3s linear;
    cursor: pointer;
    border:1px solid transparent;
}
ul.sidebar-menu > li > a {
    color:#c62b33;
}
ul.sidebar-menu > li:hover > a {
    color:#fff;
    text-decoration: none;
}
ul.sidebar-menu > li.active > a{
    color: #fff;
}
ul.sidebar-menu > li.active, ul.sidebar-menu > li:hover  {
    background: #c62b33;
    color: #fff;
    border-top:1px solid white;
    border-bottom:1px solid white;
}
.tab-item {
    border: 1px solid #c62b33;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    padding-top:5px;
    background: white;
    color:#c62b33;
    font-weight: 700;
    border-bottom: transparent;
    transition:all .3s;
    text-align: center;
}
.tab-item:hover {
    background: #c62b33;
    color:white;
}
.tab-item.active {
    border-color: #ededed;
    background: #c62b33;
    color: #ffffff;
    font-weight: 700;
}
.upload-img {
    border: 1px solid black;
    width: 60px;
    height: 60px;
    border-style: dashed;
    border-radius: 10px;
    text-align: center;
    line-height: 60px;
}
#list-wrapper {
    margin-top:0 !important;
}
.upload-banner {
    width: 100%;
    height: 200px;
    border: 1px solid #ededed;
    box-shadow: 0px 4px 2px 2px silver;
    background: white;
    text-align: center;
}
.t-valign{
    vertical-align: middle !important;
}
.to-top {
    display: none;
    position: fixed;
    z-index: 9;
    bottom: 50px;
    right: 50px;
    border-radius: 50%;
    background: #c62b33;
    padding: 10px;
    height: 50px;
    width: 50px;
    text-align: center;
    color: #ffffff;
}
.to-top:hover{
    color:#ccc8c8;
    text-decoration: none;
}
#product_detail img {
    max-width: 100%;
}
.menu-profile{
    position: absolute;
    background: #c62b33 !important;
    right: 0;
    width: 200px;
    padding-top: 70px;
    z-index: -1 !important;
    transition: padding .5s ease,right .5s ease;
}
.menu-profile.closed{
    right: -200px;
}
ul.menu-content {
    text-align: left;
    list-style: none;
    padding-left: 0;
    width: 100%;
}
ul.menu-content > li {
    border-left:1px solid #ededed;
    color:white;
    padding-left:10px;
    margin-top:3px;
    transition: margin .3s ease;
}
ul.menu-content > li:hover {
    background:#dc3545;
    cursor: pointer;
    margin-left: 15px;
}
.notification-body {
    background: grey;
    margin-top:25px;
    background: #c62b33 !important;
    padding:10px 0px 10px 15px;
    transition: margin .5s ease,right .5s ease;
}
.notification-body.closed{
    right: -200px;
}
.table-holder{
    max-width: 100%;
    overflow-x: auto;
}